.gridContainer{
  display: grid;
  grid-template-columns: repeat(3,1fr);
  gap: var(--halfUnit);
}

.gridItem img{
  width: 100%;
  transition: filter 0.5s ease;
  display: block;
  filter: grayscale(1);
}

.gridItem img:hover{
  filter: grayscale(0);
}

.imgCaption{
  max-height: calc(var(--doubleUnit) * 2);
  padding: var(--quarterUnit);
  background: var(--containerBg);
  text-align: justify;
  display: flex;
  flex-direction: column;
}

@media (max-width: 1250px) or (max-aspect-ratio: 1/3){
  .gridContainer{
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 700px) or (max-aspect-ratio: 1/3){
  .gridContainer{
    grid-template-columns: repeat(1, 1fr);
    gap: var(--unit);
  }
}



@media (pointer: coarse) and (hover: none){
    .gridItem img{
        filter: grayscale(0);
    }

    .gridItem img:hover{
        transform: none;
    }
}