:root {
  --unit: 14vh;
  --halfUnit: calc(var(--unit) / 2);
  --doubleUnit: calc(var(--unit) * 2);
  --thirdUnit: calc(var(--halfUnit) / 1.5);
  --quarterUnit: calc(var(--unit) / 4);
  --eighthUnit: calc(var(--unit) / 8);

  --bgGradientColors:
    rgb(225, 216, 230) 0%,
    rgb(210, 230, 240) 20%,
    rgb(240, 240, 220) 50%,
    rgb(255, 220, 230) 80%,
    rgb(225, 216, 230) 100%;
  --color1: red;
  --color2: red;
  --color3: black;
  --color4: white;
  --color5: #1A1A1A;
  --color6: rgb(255, 80, 80);
  --color7: rgba(255, 255, 255, 0.8);
  --color8: rgba(255, 194, 204, 0.8);

  --elWidth: calc(100vw - var(--doubleUnit));
  --navHeight: max(var(--halfUnit), 2.5rem);
  --mainMarginTop: var(--unit);
  --containerBg: rgba(255, 255, 255, 0.5);
  --itemMaxHeight: calc(100vh - (var(--unit) * 3));
  --bodyWidth: 100vw;
  --linkMargin: 4vw;
  --textSize: 1.1rem;
  --sectionItemPadding: var(--halfUnit);
  --coverImageHeight: calc(100vh - calc(var(--navHeight) + 2px));
  --coverImageWidth: 100vw;
}

@supports(height: 1svh) {
  :root {
    --unit: 14svh;
    --itemMaxHeight: calc(100svh - (var(--unit) * 3));
    --coverImageHeight: calc(100svh - calc(var(--navHeight) + 2px));
  }
}

@supports(width: 1svw) {
  :root {
    --elWidth: calc(100svw - var(--doubleUnit));
    --bodyWidth: 100svw;
    --linkMargin: 4svw;
  }
}

@font-face {
  font-family: 'dinpro';
  src: url('../fonts/dinpro/dinpro-light.ttf') format('truetype');
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: 'dinpro';
  src: url('../fonts/dinpro/dinpro-medium.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'dinpro';
  src: url('../fonts/dinpro/dinpro-bold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'dinpro';
  src: url('../fonts/dinpro/dinpro-black.ttf') format('truetype');
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: 'fenwick';
  src: url('../fonts/fenwick/fenwick_outline.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'bahnschrift';
  src: url('../fonts/bahnschrift/BAHNSCHRIFT.TTF') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@keyframes waveShift {
  0% {
    background-position: 0 0;
  }

  100% {
    background-position: 100vw 0;
  }
}

@keyframes scale {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.08);
  }

  100% {
    transform: scale(1);
  }
}

@keyframes shiftleft {
  0% {
    transform: translateX(0em);
  }

  50% {
    transform: translateX(-0.5em);
  }

  100% {
    transform: translateX(0em);
  }
}

@keyframes shiftright {
  0% {
    transform: translateX(0em);
  }

  50% {
    transform: translateX(0.5em);
  }

  100% {
    transform: translateX(0em);
  }
}

@keyframes glow1 {
  from {
    text-shadow: 0 0 3px #FF3366, 0 0 6px #FF3366, 0 0 9px #FFC2CC;
  }

  to {
    text-shadow: 0 0 9px #FF3366, 0 0 12px #FFC2CC, 0 0 16px #FFC2CC, 0 0 20px #FFC2CC;
  }
}

@keyframes glow2 {
  from {
    text-shadow: 0 0 1px #FF3366, 0 0 2px #CC294F, 0 0 3px #991F3A;
  }

  to {
    text-shadow: 0 0 2px #FF3366, 0 0 4px #CC294F, 0 0 6px #991F3A, 0 0 8px #661426;
  }
}

@keyframes shiftUp {
  0% {
    transform: translateY(100vh);
  }

  100% {
    transform: translateY(0vh);
  }
}

@keyframes shiftDown {
  0% {
    transform: translateY(0rem);
  }

  50% {
    transform: translateY(1.5rem);
  }

  100% {
    transform: translateY(0rem);
  }
}

@keyframes shiftUpSmall {
  0% {
    transform: translateY(0rem);
  }

  50% {
    transform: translateY(-1.5rem);
  }

  100% {
    transform: translateY(0rem);
  }
}

* {
  font-family: dinpro, arial;
  font-feature-settings: "liga" 0, "dlig" 0, "calt" 0;
  box-sizing: border-box;
  text-decoration: none;
  font-size: var(--textSize);
  color: var(--color3);
}

#current-content {
  background: var(--color4);
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 1;
  transition: opacity 0.5s ease;
}

#current-content::before {
  background: var(--color4);
}

.page-content {
  opacity: 0;
  transition: opacity 0.5s ease;
}

.bold {
  font-weight: bold;
}

.underline {
  text-decoration: underline;
  text-decoration-thickness: 3px;
  text-underline-offset: 4px;
}

p,
h1,
h2,
h3,
h4,
ul {
  margin: 0;
}

body {
  margin: 0;
  background: repeating-linear-gradient(to right, var(--bgGradientColors));
  width: var(--bodyWidth);
  position: relative;
}

.noMarginText::before {
  content: '';
  display: block;
  height: 0;
  width: 0;
  margin-top: calc(var(--textSize) * -0.33);
}

.noMarginText::after {
  content: '';
  display: block;
  height: 0;
  width: 0;
  margin-bottom: calc(var(--textSize) * -0.22);
}

body::before {
  content: '';
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: -1;
  background: repeating-linear-gradient(to right, var(--bgGradientColors));
  animation: waveShift 30s linear infinite;
}

.mainNav {
  width: 100%;
  height: calc(var(--navHeight) + 2px);
  position: fixed;
  top: 0;
  border-bottom: 2px solid var(--color1);
  z-index: 2;
  background: var(--color4);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 var(--linkMargin) 0 var(--linkMargin);
}


.titleText,
.titleText span {
  --textSize: 2rem;
  color: var(--color1);
}

.titleText.short {
  display: none;
}

.name {
  font-weight: bold;
}

.hamburger {
  display: none;
}

.links {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-wrap: nowrap;
}

.link {
  transition: transform 0.5s ease;
  margin-left: var(--linkMargin);
  white-space: nowrap;
  display: inline-block;
  color: var(--color1);
}

.link div {
  color: var(--color1);
}

.link:not(button):hover {
  transform: scale(1.15);
  font-weight: bold;
}

.link img {
  display: inline;
  height: 0.88rem;
  width: 1.32rem;
}

.link.lang img {
  margin-bottom: -0.025rem;
}

button.link {
  height: 1.2rem;
  width: 2.1rem;
  border-radius: 1.2rem;
  background-color: var(--color5);
  padding: 0;
  container-type: inline-size;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.circle {
  height: 100%;
  aspect-ratio: 1/1;
  border-radius: 50%;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.circle img {
  height: 80%;
  width: 80%;
  margin: 1.5% 0 0 1.5%;
  border-radius: 50%;
}

.lightModeToggle {
  display: none;
}

main {
  width: var(--elWidth);
  margin: var(--mainMarginTop) auto var(--unit) auto;
  flex-grow: 1;
  position: relative;
}

.credits,
.credits * {
  color: var(--color2);
  font-size: 1.3rem;
}

.mainNav,
.hamIcon,
.hamburger {
  transition: transform 0.8s ease;
  transform: translateY(0);
}

.hidden {
  transform: translateY(calc(-1 * var(--navHeight)));
}

.dividerDarkMode {
  display: none;
}

.contentWrapper {
  flex: 1;
  height: 100%;
  overflow-y: auto;
}

.header {
  text-align: center;
  margin: 0 auto 0 auto;
  font-family: fenwick;
  font-size: 3.5rem;
  color: var(--color2);
}

h2.header {
  margin-bottom: var(--thirdUnit);
}

.startEnd {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.startEnd.start {
  align-items: normal;
}

.startEnd .header {
  margin-top: calc(var(--unit));
  padding-bottom: 0;
}

.startEnd.start.marginTop {
  margin-top: calc(var(--navHeight) + 2px);
}

.divider {
  margin: calc(var(--unit) + var(--eighthUnit)) 0 var(--unit) 0;
  display: flex;
  justify-content: center;
}

.divider img {
  height: var(--unit);
  width: var(--unit);
}

.divider.left,
.divider.right {
  display: inline-block;
  margin: var(--quarterUnit);
}

.down {
  animation: shiftDown 5s ease-in-out infinite;
}

.up {
  animation: shiftUpSmall 5s ease-in-out infinite;
}


/* ------------- COVERIMAGE ------------ */


.coverImage {
  height: var(--coverImageHeight);
  width: var(--coverImageWidth);
  margin-top: calc(var(--navHeight) + 2px);
  position: relative;
  overflow: hidden;
}

.slides {
  display: flex;
  transition: transform 0.5s ease-in-out;
}

.slides img {
  height: var(--coverImageHeight);
  width: var(--coverImageWidth);
  flex: 0 0 var(--coverImageWidth);
  object-fit: cover;
  object-position: 22% 50%;
  transition: filter 0.5s ease;
  display: block;
}

.slides:not(.project) img {
  filter: grayscale(1);
}

.slides:not(.project) img:hover {
  filter: grayscale(0);
}

.clicker {
  position: absolute;
  font-size: 40px;
  color: white;
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.3);
  padding: 10px 10px 14.4px 10px;
}

.clicker:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

.prev,
.next {
  top: 50%;
  transform: translateY(-50%);
  user-select: none;
}

.prev {
  left: 10px;
}

.next {
  right: 10px;
}

.rest {
  position: absolute;
  bottom: 0;
  right: 50%;
  color: #D3D3D3;
  transform: translateX(50%);
  font-size: 2rem;
  margin-bottom: 20px;
  transition: color 0.5s ease;
  cursor: pointer;
}

.rest:hover {
  color: white;
}

.border {
  position: absolute;
  transition: top 2s ease;
  width: 100%;
  background: repeating-linear-gradient(to right, var(--bgGradientColors));
  top: 0;
  transition: top 2s ease;
  border: var(--quarterUnit) double var(--color4);
  animation: waveShift 30s linear infinite;
}

.border.marginTop {
  margin-top: calc(var(--navHeight) + 2px);
}

.border:not(.moveUp):not(.marginTop),
.border:not(.moveUp):not(.marginTop) * {
  display: none;
}

.border.moveUp {
  animation: shiftUp 1.5s ease-in-out 1, waveShift 30s linear infinite;
}

.rest2 {
  top: 0;
  right: 50%;
  transform: translateX(50%) rotate(-90deg);
  color: var(--color6);
  background-color: var(--color7);
}

.rest2:hover {
  background-color: var(--color8);
}

.border.moveDown {
  top: 100vh;
}


/* ------------- SECTION TILES ------------ */


.section {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: var(--quarterUnit);
  width: var(--elWidth);
  margin: 0 auto;
}

.section:not(:last-of-type) {
  margin-bottom: var(--eighthUnit);
}

.siContainer {
  perspective: 800px;
  aspect-ratio: 1/1;
}

.flipping {
  z-index: 10;
}

.flipper {
  position: relative;
  transform-style: preserve-3d;
  transition: transform 0.6s ease;
  height: 100%;
}

.sectionItem {
  padding: var(--sectionItemPadding);
  background: var(--containerBg);
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  aspect-ratio: 1/1;
}

.sectionItem:not(.image){
  border: 2px dotted var(--color1);
}

.front,
.back {
  position: absolute;
  backface-visibility: hidden;
}

.back {
  transform: rotateY(-180deg);
  text-align: right;
}

.back ul {
  list-style: none;
}

.front .contentWrapper {
  transition: opacity 0.1s ease;
  transition-delay: 0.15s;
}

.flipper.flipped .front .contentWrapper {
  opacity: 0;
}

.flipper.flipped {
  transform: rotateY(-180deg);
}

.flipper:hover {
  transform: rotateY(-10deg);
}

.flipped:hover {
  transform: rotateY(-170deg);
}

.sectionItem.image {
  padding: 0 !important;
  transition: filter 0.5s ease;
  filter: grayscale(1);
}

.sectionItem.image:hover {
  filter: grayscale(0);
}

.sectionItem.image.evens {
  display: none;
}

.sectionItem.image img {
  width: 100%;
  aspect-ratio: 1/1;
}

.sectionItem .contentWrapper {
  container-type: inline-size;
}


/* ------------ SECTION TILE CONTENT -------------- */


.siContainer * {
  font-size: 6cqi;
}

.front .contentWrapper,
.back .contentWrapper {
  position: relative;
  overflow: visible;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  height: 100%;
  margin: 0;
}

.front h3 {
  font-size: 13cqi;
  margin: 0;
  text-decoration: underline;
  text-decoration-thickness: 3px;
  text-underline-offset: 4px;
  font-family: bahnschrift;
  color: var(--color1);
}

.subTitle * {
  font-size: 6.3cqi;
  color: var(--color1);
  text-align: left;
}

.front .contentWrapper .bold,
.front .descDate,
.contract {
  width: 100%;
  text-align: end;
}


.back .contentWrapper div {
  width: 100%;
  margin-left: 0;
  list-style-position: outside;
}

.descDate {
  font-weight: bold;
  font-size: 11cqi;
}

.contract,
.sectionItem .contentWrapper span {
  display: block;
}

.paper,
.paper * {
  font-size: 5cqi;
  text-align: right;
}

.paperName {
  text-align: left;
  text-decoration: underline;
  text-decoration-thickness: 1px;
  text-underline-offset: 4px;
  margin-bottom: 5px;
}

.number {
  position: absolute;
  bottom: calc(var(--sectionItemPadding) / -1.9);
  left: calc(var(--sectionItemPadding) / -1.5);
  font-size: var(--textSize);
  --textSize: 24cqi;
  color: var(--color3);
}

.ita {
  padding-right: 0.1rem;
}


/* -----------MEDIA QUERIES----------- */



@media (max-width: 1560px) or (max-aspect-ratio: 1/3) {
  :root {
    --textSize: 1.05rem;
    --sectionItemPadding: var(--thirdUnit);
  }
}

@media (max-width: 1440px) or (max-aspect-ratio: 1/3) {
  :root {
    --sectionItemPadding: var(--quarterUnit);
  }
}

@media (max-width: 1300px) or (max-aspect-ratio: 1/3) {

  #introText,
  .projectRight {
    column-gap: var(--quarterUnit);
  }
}

@media (max-width: 1250px) or (max-aspect-ratio: 1/3) {
  .sectionItem:not(#mainTools .sectionItem):not(.project) {
    --sectionItemPadding: var(--halfUnit);
  }

  .section:not(#mainTools) {
    grid-template-columns: repeat(2, 1fr);
  }

  .siContainer.odds,
  .sectionItem.image.odds {
    display: none;
  }

  .sectionItem.image.evens {
    display: flex;
  }

  .ghost {
    display: none;
  }
}


@media (max-width: 1200px) or (max-aspect-ratio: 1/3) {
  .links.main {
    display: none;
  }

  #hamToggle {
    display: none;
  }

  .hamIcon {
    width: 25px;
    height: 25px;
    position: fixed;
    top: calc((var(--navHeight) - 25px) / 2 - 0.5px);
    right: var(--linkMargin);
    cursor: pointer;
    z-index: 5;
  }

  .hamIcon .hamLine {
    width: 100%;
    height: 3px;
    background-color: var(--color1);
    position: absolute;
    left: 0;
    border: none;
    z-index: 5;
    transition: transform 0.42s ease, top 0.42s ease 0.42s, opacity 0.42s ease 0.42s;
  }

  .hamIcon .hamLine:nth-child(1) {
    top: 0px;
  }

  .hamIcon .hamLine:nth-child(2) {
    top: 11px;
  }

  .hamIcon .hamLine:nth-child(3) {
    top: 22px;
  }

  #hamToggle:checked~.hamburger {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    height: calc(var(--navHeight) + 2px);
    width: 100%;
    border-bottom: 1px solid var(--color1);
    z-index: 4;
    background-color: var(--color4);
    color: var(--color1);
  }

  #hamToggle:checked+.hamIcon .hamLine{
    transition: transform 0.42s ease 0.42s, top 0.42s ease, opacity 0.42s ease;
  }

  #hamToggle:checked+.hamIcon .hamLine:nth-child(1) {
    transform: rotate(45deg);
    top: 11px;
  }

  #hamToggle:checked+.hamIcon .hamLine:nth-child(2) {
    opacity: 0;
  }

  #hamToggle:checked+.hamIcon .hamLine:nth-child(3) {
    transform: rotate(-45deg);
    top: 11px;
  }

  .links.hamburgerLinks {
    justify-content: flex-start;
    margin-left: var(--linkMargin);
  }

  .links.hamburgerLinks .link {
    margin-left: 0;
    margin-right: var(--linkMargin);
  }
}


@media (max-width: 1100px) or (max-aspect-ratio: 1/3) {
  :root {
    --textSize: 1rem;
  }
}



@media (max-width: 1024px) or (max-aspect-ratio: 1/3) {
  :root {
    --unit: 10vh;
    --navHeight: max(calc(var(--halfUnit) * 1.39), 2.5rem);
  }

  .clicker {
    font-size: 30px;
    padding: 7.5px 7.5px 10.8px 7.5px;
  }
}


/* ----------------------------------- */


@media (max-width: 900px) or (max-aspect-ratio: 1/3) {
  :root {
    --unit: 8vh;
  }
}



@media (max-width: 700px) or (max-aspect-ratio: 1/3) {
  .header {
    font-size: 2.7em;
  }

  .section:not(#mainTools) {
    grid-template-columns: repeat(1, 1fr);
  }

  .sectionItem:not(#mainTools .sectionItem):not(.project) {
    --sectionItemPadding: var(--unit);
  }

  .siContainer.odds,
  .sectionItem.image.odds {
    display: flex;
  }

  .sectionItem.image.multiples,
  .siContainer.multiples {
    display: none;
  }

  .credits,
  .credits * {
    font-size: 1.05rem;
  }
}



@media (max-width: 575px) or (max-aspect-ratio: 1/3) {
  :root {
    --unit: 6vh;
    --navHeight: max(calc(var(--halfUnit) * 1.84), 2rem);
  }

  .clicker {
    font-size: 20px;
    padding: 5px 5px 7.2px 5px;
  }

  .rest {
    font-size: 1.5rem;
  }

  .titleText,
  .titleText span {
    --textSize: 1.6rem;
  }

  .header {
    font-size: 2em;
  }

  .credits,
  .credits * {
    font-size: 1rem;
  }
}

@media (max-width: 470px) or (max-aspect-ratio: 1/3) {
  .sectionItem:not(#mainTools .sectionItem):not(.project) {
    --sectionItemPadding: var(--halfUnit);
  }
}


@media (max-width: 450px) or (max-aspect-ratio: 1/3) {
  :root {
    --linkMargin: 3vw;
  }

  .titleText,
  .titleText span {
    --textSize: 1.4rem;
  }

  .link {
    font-size: 1rem;
  }

  .hamIcon {
    right: 3vw;
  }
}



@media (max-width: 400px) or (max-aspect-ratio: 1/3) {
  .mainNav {
    justify-content: start;
  }

  .titleText.long {
    display: none;
  }

  .titleText.short {
    display: inline-block;

  }
}



@media (max-width: 1300px) and (min-width: 1025px) {
  #introText p {
    font-size: 0.9rem;
  }
}

@media (max-width: 1100px) and (min-width: 1025px) {

  #introText,
  .projectRight {
    columns: 1;
  }
}

@media (max-width: 800px) and (min-width: 701px) {
  :root {
    --sectionItemPadding: var(--thirdUnit);
  }
}



@media (pointer: coarse) and (hover: none) {

  .flipper:hover,
  .flipped:hover {
    transform: none;
  }

  .flipper.flipped {
    transform: rotateY(-180deg) !important;
  }

  .prev:hover,
  .next:hover {
    background-color: rgba(0, 0, 0, 0.3);
  }

  .slides img,
  .sectionItem.image {
    filter: grayscale(0) !important;
  }

  .link:hover {
    font-weight: 400;
  }

  .link:hover {
    transform: none;
  }

  .link:active {
    transform: scale(1.15);
    font-weight: bold;
  }
}



@supports(height: 1svh) {
  @media (max-width: 1024px) or (max-aspect-ratio: 1/3) {
    :root {
      --unit: 10svh;
    }
  }

  @media (max-width: 900px) or (max-aspect-ratio: 1/3) {
    :root {
      --unit: 8svh;
    }
  }

  @media (max-width: 575px) or (max-aspect-ratio: 1/3) {
    :root {
      --unit: 6svh;
    }
  }

  @keyframes shiftUp {
    0% {
      transform: translateY(100svh);
    }

    100% {
      transform: translateY(0vh);
    }
  }

  .border.moveDOwn {
    top: 100svh;
  }
}


@media (prefers-color-scheme: light) {
  .header {
    animation: none;
  }

  .name {
    animation: none;
  }

  .dividerLightMode {
    display: inline-block;
  }

  .darkModeToggle {
    display: flex !important;
  }

  .dividerDarkMode {
    display: none;
  }

  .lightModeToggle {
    display: none !important;
  }

  .circle {
    background-color: white;
  }
}


@media (prefers-color-scheme: dark) {
  :root {
    --bgGradientColors:
      #14161a 0%,
      #1f2126 25%,
      #292933 50%,
      #1f2126 75%,
      #14161a 100%;
    --containerBg: rgba(0, 0, 0, 0.5);
    --color1: #FF3366;
    --color2: #FFC2CC;
    --color3: #D3D3D3;
    --color4: #1A1A1A;
    --color5: white;
    --color6: #FF3366;
    --color7: rgba(0, 0, 0, 0.5);
    --color8: rgba(0, 0, 0, 0.8);
  }

  h1.header {
    animation: glow1 7s ease-in-out infinite alternate;
  }

  .name {
    animation: glow2 7s ease-in-out infinite alternate;
  }


  .dividerLightMode {
    display: none;
  }

  .darkModeToggle {
    display: none !important;
  }

  .dividerDarkMode {
    display: inline-block;
  }

  .lightModeToggle {
    display: flex !important;
    justify-content: end;
  }

  .circle {
    background-color: #1A1A1A;
  }

  .circle img {
    margin: 0 0 1% 9%;
    transform: rotate(190deg);
  }
}



/* ---------- DARKMODE ---------- */



.darkmode {
  color: #D3D3D3;
  --bgGradientColors:
    #14161a 0%,
    #1f2126 25%,
    #292933 50%,
    #1f2126 75%,
    #14161a 100%;
  --containerBg: rgba(0, 0, 0, 0.5);
  --color1: #FF3366;
  --color2: #FFC2CC;
  --color3: #D3D3D3;
  --color4: #1A1A1A;
  --color5: white;
  --color6: #FF3366;
  --color7: rgba(0, 0, 0, 0.5);
  --color8: rgba(0, 0, 0, 0.8);
}

.darkmode::before {
  --bgGradientColors:
    #14161a 0%,
    #1f2126 25%,
    #292933 50%,
    #1f2126 75%,
    #14161a 100%;
}

.darkmode :is(.darkModeToggle) {
  display: none !important;
}

.darkmode :is(.lightModeToggle) {
  display: flex !important;
  justify-content: end;
}

.darkmode :is(.circle) {
  background-color: #1A1A1A;
}

.darkmode :is(.circle img) {
  margin: 0 0 1% 9%;
  transform: rotate(190deg);
}

.darkmode :is(h1.header) {
  animation: glow1 7s ease-in-out infinite alternate;
}

.darkmode :is(.name) {
  animation: glow2 7s ease-in-out infinite alternate;
}

.darkmode :where(.dividerLightMode) {
  display: none;
}

.darkmode :where(.dividerDarkMode) {
  display: inline-block;
}

.darkmode :is(.circle img) {
  margin: 0 0 1% 9%;
  transform: rotate(190deg);
}



/* ---------- LIGHTMODE ---------- */



.lightmode {
  --bgGradientColors:
    rgb(225, 216, 230) 0%,
    rgb(210, 230, 240) 20%,
    rgb(240, 240, 220) 50%,
    rgb(255, 220, 230) 80%,
    rgb(225, 216, 230) 100%;
  --containerBg: rgba(255, 255, 255, 0.5);
  --color1: red;
  --color2: red;
  --color3: black;
  --color4: white;
  --color5: #1A1A1A;
  --color6: rgb(255, 80, 80);
  --color7: rgba(255, 255, 255, 0.8);
  --color8: rgba(255, 194, 204, 0.8);
}

.lightmode::before {
  --bgGradientColors:
    rgb(225, 216, 230) 0%,
    rgb(210, 230, 240) 20%,
    rgb(240, 240, 220) 50%,
    rgb(255, 220, 230) 80%,
    rgb(225, 216, 230) 100%;
}

.lightmode :is(.lightModeToggle) {
  display: none !important;
}

.lightmode :is(.darkModeToggle) {
  display: flex !important;
}

.lightmode .header,
.lightmode .name {
  animation: none;
}

.lightmode :where(.dividerLightMode) {
  display: inline-block;
}

.lightmode :where(.dividerDarkMode) {
  display: none;
}

.lightmode :is(.circle) {
  background-color: white;
}

.lightmode :is(.circle img) {
  margin: 1.5% 0 0 1.5%;
  transform: rotate(0deg);
}




@media (min-aspect-ratio: 1.75 / 1) and (max-height: 900px) {
  :root {
    --unit: 8svw;
  }
  @supports(width: 1svw){
    :root{
      --unit: 8svw;
    }
  }

  .siContainer.odds,
  .sectionItem.image.odds {
    display: flex;
  }

  .siContainer.evens,
  .sectionItem.image.evens {
    display: none;
  }

  .section:not(#mainTools) {
    grid-template-columns: repeat(3, 1fr);
  }

  #mainTools{
    grid-template-columns: repeat(3, 1fr) !important;
  }

  .sectionItem:not(#mainTools .sectionItem):not(.project){
    --sectionItemPadding: var(--halfUnit);
  }

  .rest {
    margin-bottom: 10px;
    font-size: 1.5rem;
  }
}

@media (min-aspect-ratio: 1.75 / 1) and (max-height: 500px) {
  .section:not(#mainTools) {
    grid-template-columns: repeat(2, 1fr);
  }

  .siContainer.odds,
  .sectionItem.image.odds {
    display: none;
  }

  .siContainer.evens,
  .sectionItem.image.evens {
    display: flex;
  }
}

@media (min-aspect-ratio: 1.75 / 1) and (max-height: 400px) {
  :root {
    --unit: 8vw;
  }

  .rest {
    margin-bottom: 5px;
  }

  .rest2 {
    top: -8px;
  }

  @supports(width: 1svw){
    :root{
      --unit: 8svw;
    }
  }
}