*{
  font-family:Arial;
}

#header{
  width:100%;
  height:10vh;
  position:fixed;
  top:0;
  border-bottom:1px solid black;
}

#headertext{
  height:100%;
  position:relative;
}

.bold{
  font-weight:bold;
}

#title{
  position:absolute;
  bottom:0.5vw;
  left:15vw;
}

#links{
  text-decoration:none;
  position:absolute;
  bottom:0.5vw;
  right:15vw;
  display:flex;
  justify-content: space-evenly;
  width:20%;
}

#intro{
  width:70%
}
