*{
  font-family:Arial;
}

#header{
  width:100%;
  height:10vh;
  position:fixed;
  top:0;
  border-bottom:1px solid black;
  z-index: 5;
}

#headertext{
  height:100%;
  position:relative;
}

.bold{
  font-weight:bold;
}

#title{
  position:absolute;
  bottom:0.5vw;
  left:15vw;
}

#links{
  text-decoration:none;
  position:absolute;
  bottom:0.5vw;
  right:15vw;
  display:flex;
  justify-content: space-evenly;
  width:20%;
}

#intro{
  width: 70%;
  position:absolute;
  top:17vh;
  left:15%;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
}

#intro > img{
  height:365px;
  width:313.5px;
  float:left;
  margin-right:20px;
}

#introtext > img{
  float:right;
  margin-left:10px;
  width:100px;
  height:30px;
}

#introtext{
  flex: 1;
}

#introtext > p{
  margin: 0;
}
