@keyframes moveright{
  0% { transform: translate(-50%, -50%) translateX(-28.57rem); }
  100% { transform: translate(-50%, -50%) translateX(0em); }
} 

@font-face {
    font-family: 'dinpro';
    src: url('./dinpro/dinpro-light.ttf') format('truetype');
    font-weight: 200;
    font-style: normal;
}

@font-face {
  font-family: 'dinpro';
  src: url('./dinpro/dinpro-medium.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'dinpro';
  src: url('./dinpro/dinpro-bold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'dinpro';
  src: url('./dinpro/dinpro-black.ttf') format('truetype');
  font-weight: 800;
  font-style: normal;
}

@font-face{
  font-family: 'fenwick';
  src: url('./fenwick/fenwick_outline.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

*{
    font-family: dinpro, Arial;
    box-sizing: border-box;
    margin: 0;
    font-size: 1.1rem;
}

body{
    background-color: white;
    height: 100vh;
    width: 100vw;
    position: relative;
}

.title{
  width: 100%;
  text-align: center;
}

.title.short{
  display: none;
}

.title, .concealer{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.concealer{
    width: 28.57rem;
    height: 3rem;
    z-index: 1;
    background-color: white;
    animation: moveright 4s linear;
    left: calc(50% + 28.57rem);
}

.title, .title span{
    font-size: 2rem;
    line-height: 1.65rem;
    color: red;
}

.name{
    font-family: fenwick;
}

@media (max-width: 800px){
  .title .ghost{
    display: none;
  }
  .concealer{
    animation: moveright 2s cubic-bezier(0,.9,1,0);
  }
}

@media (max-width: 575px){
  .title.long{
    display: none;
  }
  .title.short{
    display: inline-block;
  }
  .concealer{
    animation: moveright 2s cubic-bezier(0,.64,1,0);
  }
}

@media (max-width: 450px){
  @keyframes moveright{
    0% { transform: translate(-50%, -50%) translateX(-16.2rem); }
    100% { transform: translate(-50%, -50%) translateX(0em); }
  } 
  .title, .title span{
    font-size: 1.5rem;
  }
  .concealer{
    width: 16.2rem;
    left: calc(50% + 16.2rem);
    animation: moveright 2s cubic-bezier(0,.48,1,0);
  }
}

@media (prefers-color-scheme: dark) {
  body{
    background-color: #1A1A1A;
  }
  .concealer{
    background-color: #1A1A1A;
  }
  .title, .title span{
    color: #FF3366;
  }
}

@supports(height: 1svh){
  body{
    height: 100svh;
    width: 100svw;
  }
}