:root{
  --unit: 14vh;
  --halfunit: calc(var(--unit) / 2);
  --doubleunit: calc(var(--unit) * 2);
  --thirdunit: calc(var(--halfunit) / 1.5);
  --quarterunit: calc(var(--unit) / 4);
  --eighthunit: calc(var(--unit) / 8);
  --elwidth: calc(100vw - var(--doubleunit));
  --navheight: max(var(--halfunit), 2.5rem);
  --main_margin_top: var(--unit);
  --intro_height: calc(100vh - (var(--unit) * 2 + var(--navheight)));
  --img_container_width: calc((var(--elwidth) - var(--unit)) / 3);
  --container_background: rgba(255,255,255,0.5);
  --sig_height: calc(var(--halfunit));
  --sig_width: calc(var(--sig_height) * 2.73);
  --item_maxheight: calc(100vh - (var(--unit) * 3));
  --sectionitem_height: calc((var(--elwidth) - var(--halfunit)) / 3);
  --bg_gradient_colors: 
    rgb(225, 216, 230) 0%,
    rgb(210, 230, 240) 20%,
    rgb(240, 240, 220) 50%,
    rgb(255, 220, 230) 80%,
    rgb(225, 216, 230) 100%;
  --introtopdiscrepancy: 0.517063081696vh;
  --envelope_width: 20vw;
  --coverimage_height: calc(100vh - var(--navheight));
  --coverimage_width: 100vw;
  --longleft_minwidth: min(33vh, calc((var(--elwidth) - var(--halfunit)) / 2));
  --bodywidth: 100vw;
  --link_margin: 4vw;
  --section-item_padding: var(--halfunit);
  --navbar_vertical_discrepancy: 0.11rem;
}

@supports(height: 1svh){
  :root{
    --unit: 14svh;
    --intro_height: calc(100svh - (var(--unit) * 2 + var(--navheight)));
    --item_maxheight: calc(100svh - (var(--unit) * 3));
    --introtopdiscrepancy: 0.517063081696svh;
    --coverimage_height: calc(100svh - var(--navheight));
    --longleft_minwidth: min(33svh, calc((var(--elwidth) - var(--halfunit)) / 2));
  }
}

@supports(width: 1svw){
  :root{
    --elwidth: calc(100svw - var(--doubleunit));
    --envelope_width: 20svw;
    --coverimage_width: 100svw;
    --bodywidth: 100svw;
    --link_margin: 4svw;
  }
}

@font-face {
    font-family: 'dinpro';
    src: url('../dinpro/dinpro-light.ttf') format('truetype');
    font-weight: 200;
    font-style: normal;
}

@font-face {
  font-family: 'dinpro';
  src: url('../dinpro/dinpro-medium.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'dinpro';
  src: url('../dinpro/dinpro-bold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'dinpro';
  src: url('../dinpro/dinpro-black.ttf') format('truetype');
  font-weight: 800;
  font-style: normal;
}

@font-face{
  font-family: 'fenwick';
  src: url('../fenwick/fenwick_outline.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face{
  font-family: 'bahnschrift';
  src: url('../Bahnschrift/BAHNSCHRIFT.TTF') format('truetype');
  font-weight: 400;
  font-style: normal;
}

*{
  font-family: dinpro, Arial;
  font-feature-settings: "liga" 0, "dlig" 0, "calt" 0;
  box-sizing: border-box;
  text-decoration: none;
  font-size: 1.1rem;
}

.bold{
  font-weight: bold;
}

.large{
  font-size: 1.3em;
}

p, h1, h2, h3, h4{
  margin: 0;
}

h3, h4, #maintools img{
  margin-bottom: var(--eighthunit);
}

h3{
  font-size: 1.4em;
}

.ita{
  margin-bottom: var(--eighthunit);
}

ul{
  margin: var(--eighthunit) 0;
}

ul:last-of-type{
  margin-bottom: 0;
}

body{
  margin: 0;
  background: repeating-linear-gradient(
    to right, var(--bg_gradient_colors));
  width: var(--bodywidth);
}

@keyframes waveShift {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 100vw 0;
  }
}

@keyframes scale{
  0% { transform: scale(1); }
  50% { transform: scale(1.08); }
  100% { transform: scale(1); }
}
@keyframes shiftleft{
  0% { transform: translateX(0em); }
  50% { transform: translateX(-0.5em); }
  100% { transform: translateX(0em); }
} 
@keyframes shiftright{
  0% { transform: translateX(0em); }
  50% { transform: translateX(0.5em); }
  100% { transform: translateX(0em); }
} 

@keyframes glow1 {
  from {
    text-shadow: 0 0 3px #FF3366, 0 0 6px #FF3366, 0 0 9px #FFC2CC;
  }
  to {
    text-shadow: 0 0 9px #FF3366, 0 0 12px #FFC2CC, 0 0 16px #FFC2CC, 0 0 20px #FFC2CC;
  }
}
@keyframes glow2 {
  from {
    text-shadow: 0 0 1px #FF3366, 0 0 2px #CC294F, 0 0 3px #991F3A;
  }
  to {
    text-shadow: 0 0 2px #FF3366, 0 0 4px #CC294F, 0 0 6px #991F3A, 0 0 8px #661426;
  }
}

body::before{
  content: '';
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: -1;
  background: repeating-linear-gradient(
    to right, var(--bg_gradient_colors));
  animation: waveShift 15s linear infinite;
}

.mainnav{
  width: 100%;
  height: var(--navheight);
  box-sizing: content-box;
  position: fixed;
  top: 0;
  border-bottom: 2px solid red;
  z-index: 2;
  background-color: #FFFFFF;
  color: red;
}

.navtext{
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 4vw 0 4vw;
}

.title, .title span{
  font-size: 2rem;
  color: red;
  margin-bottom: var(--navbar_vertical_discrepancy);
}
.title.short{
  display: none;
}

.name{
  font-family: fenwick;
}

.hamburger{
  display: none;
}

.links{
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-wrap: nowrap;
  margin-bottom: var(--navbar_vertical_discrepancy);
}
.link{
  transition: transform 0.5s ease;
  margin-left: var(--link_margin);
  white-space: nowrap;
  display: inline-block;
  color: red;
}
.link div{
  color: red;
}
.link:hover{
  transform: scale(1.15);
  font-weight: bold;
}

.link img{
  display: inline;
  height: 0.88rem;
  width: 1.32rem;
  margin-bottom: calc(var(--navbar_vertical_discrepancy) * -1);
}

button.link{
  height: 0.88rem;
  width: 0.88rem;
  border-radius: 50%;
  background-color: #1A1A1A;
  margin-bottom: calc(var(--navbar_vertical_discrepancy) * -1);
}

.light-mode-toggle{
  display: none;
}

main{
  width: var(--elwidth);
  margin: var(--main_margin_top) auto var(--unit) auto;
  flex-grow: 1;
  position: relative;
}

.credits, .credits *{
  color: red;
  font-size: 1.3rem;
}

.mainnav, .hamicon, .hamburger{
  transition: transform 0.8s ease;
  transform: translateY(0);
}

.hidden{
  transform: translateY(calc(-1 * var(--navheight)));
}

/* ------------ABOUT------------ */

.coverimage{
  height: 100%;
  margin-top: var(--navheight);
}

.coverimage img{
  height: var(--coverimage_height);
  width: var(--coverimage_width);
  object-fit: cover;
  object-position: 22% 50%;
  filter: grayscale(1);
  transition: filter 0.5s ease;
  display: block;
}
.coverimage img:hover{
  filter: grayscale(0);
}

.intro{
  width: var(--elwidth);
  margin: var(--eighthunit) auto var(--eighthunit) auto; 
  height: var(--intro_height);
  display: flex;
  position: relative;
}

#imgcontainer{
  width: var(--img_container_width);
  margin-right: var(--quarterunit);
}

#imgcontainer img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: 50% 25%;
  display: block; /* for narrow screens */
}

#introcontent{
  flex: 1;
  overflow: hidden;
  background: var(--container_background);
  padding: var(--halfunit);
  position: relative;
}

#introtext{
  text-align: justify;
  line-height: 1.3;
  column-count: 2;
  column-gap: var(--thirdunit);
}
#introtext p:first-of-type::first-letter{
  font-size: 2.6rem;
  color: red;
  float: left;
  margin-right: 0.6rem;
  margin-top: 0.3rem;
}

#signature{
  width: var(--sig_width);
  height: var(--sig_height);
  position: absolute;
  top: calc(100% + 1rem);
  right: 0;
}

.introclosetext{
  position: absolute;
  top: -2rem;
  right: 1rem;
  height: var(--intro_height);
  display: flex;
  justify-content: center;
}

.introclosetext, .introclosetext *{
  color: red; 
  display: inline-block;
  transition: transform 0.5s ease;
  font-family: bahnschrift;
  font-size: 1.3rem;
}

.introclosetext.long{
  top: 1rem;
  right: calc(var(--quarterunit) * -2);
  writing-mode: vertical-lr;
}
.introclosetext.long, .introclosetext.long *{
  font-size: calc(calc(var(--intro_height) - 2rem) / 22);
}
.introclosetext *:not(div){
  text-decoration: underline;
  text-decoration-thickness: 3px;
  text-underline-offset: 4px;
}

.introclosetext.short{
  display: none;
}
.introclosetext_shorter{
  display: none;
}

.introclosetext a:hover{
  transform: translateX(-1em);
}

.introclosetext:not(.shorter) a:nth-of-type(2):hover{
  transform: translateX(1em);
}

.introclosetext.long a:hover{
  transform: translateY(-1em);
}

.introclosetext.long a:nth-of-type(2):hover{
  transform: translateY(1em);
}

/* --SECTIONS-- */


.header{
  text-align: center;
  color: red;
  padding-bottom: var(--eighthunit);
  margin: 0 auto;
}
.header h1, .header h2{
  font-family: fenwick;
  font-size: 3.5em;
}

.content-wrapper{
  flex: 1;
  height: 100%;
  overflow-y: auto;
}

.section{
  display: grid;
  grid-template-columns: repeat(3,1fr);
  gap: var(--quarterunit);
  width: fit-content;
  margin: 0 auto;
}
.section:not(:last-of-type){
  margin-bottom: var(--eighthunit);
}

.section-item{
  padding: var(--section-item_padding);
  background: var(--container_background);
  height: var(--sectionitem_height);
  width: var(--sectionitem_height);
  display: flex;
  flex-direction: column;
}
.section-item.image{
  padding: 0 !important;
  transition: filter 0.5s ease;
  filter: grayscale(1);
}
.section-item.image:hover{
  filter: grayscale(0);
}
.section-item.image.evens{
  display: none;
}

.less-margin-bottom{
  margin-bottom: calc(var(--eighthunit) / 8);
}
.addon{
  margin-top: calc(var(--eighthunit) / 2);
}
.good-mention::marker{
  color: red;
}
.addon + div{
  margin-top: var(--eighthunit);
}

li:not(last-of-type){
  margin-bottom: calc(var(--eighthunit) / 2);
}

.desc-item{
  display: flex;
}
.desc-item.edu{
  margin-top: var(--quarterunit);
}
.desc-date{
  width: fit-content;
  text-align: end;
}
.desc-txt{
  flex: 1;
  display: flex;
  flex-wrap: wrap;
}

.startend{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.startend.start{
  align-items: normal;
}
.startend .header{
  margin-top: calc(var(--unit));
  padding-bottom: 0;
}
.startend.start.margintop{
  margin-top: calc(var(--navheight) + 2px);
}

.divider{
  margin: calc(var(--unit) + var(--eighthunit)) 0 var(--unit) 0;
  display: flex;
  justify-content: center;
}
.divider img{
  height: var(--unit);
  width: var(--unit);
}
.divider.left, .divider.right{
  display: inline-block;
  margin: var(--quarterunit);
}

#maintools *{
  text-align: center;
  align-items: center;
}
#maintools img{
  height: calc(calc(var(--sectionitem_height) - var(--section-item_padding) * 2) - calc(2em + var(--eighthunit)));
  width: calc(calc(var(--sectionitem_height) - var(--section-item_padding) * 2) - calc(2em + var(--eighthunit)));
}
#maintools .content-wrapper{
  overflow: hidden;
}
.divider-darkmode{
  display: none;
}

.longform{
  display: flex;
  margin-bottom: var(--unit);
  max-height: var(--item_maxheight);
}

.longleft{
  width: var(--img_container_width);
  margin-right: var(--halfunit);
  padding: var(--halfunit);
  background: var(--container_background);
  min-width: var(--longleft_minwidth);
  height: fit-content;
  max-height: var(--item_maxheight);
  display: flex;
  flex-direction: column;
}

.longright{
  flex: 1;
  background: var(--container_background);
  padding: var(--halfunit);
  text-align: justify;
}

.right-content{
  column-count: 2;
  column-gap: var(--thirdunit);
}


/* -----------PROJECTS----------- */


.grid-container{
  display: grid;
  grid-template-columns: repeat(3,1fr);
  gap: var(--halfunit);
}

.grid-item img{
  width: 100%;
  transition: filter 0.5s ease;
  display: block;
  filter: grayscale(1);
}

.grid-item img:hover{
  filter: grayscale(0);
}

.imgcaption{
  max-height: calc(var(--doubleunit) * 2);
  padding: var(--quarterunit);
  background: var(--container_background);
  text-align: justify;
  display: flex;
  flex-direction: column;
}


/* -----------CONTACT----------- */


form{
  display: grid;
  grid-template-columns: 1.5fr 2fr 2fr;
  grid-template-rows: auto 1fr;
  gap: var(--halfunit);
  height: var(--intro_height);
  position: relative;
}

.form-item{
  background: var(--container_background);
  padding: var(--quarterunit);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.form-item.header{
  grid-column: span 3;
  background: none;
  padding: 0;
  margin-bottom: calc(var(--quarterunit) * -1.5);
}

.form-item:nth-child(4){
  grid-column: span 2;
  width: 100%;
}

#envelope-shape{
  width: var(--envelope_width);
  height: calc(var(--envelope_width) * 0.6);
  transition: transform 0.3s ease;
  background-color: red;
  margin: auto auto;
}

#envelope-shape:hover{
  transform: translateX(6rem);
  cursor: pointer;
}

.form-item[type="submit"]{
  clip-path: polygon(0% 0%, 50% 40%, 100% 0%, 100% 100%, 0% 100%);
  width: 100%;
  height: 100%;
  font-size: 1.3rem;
  font-weight: bold;
  padding-top: var(--halfunit);
  border: none;
}
.form-item[type="submit"]:hover{
  cursor: pointer;
}

label{
  margin-bottom: var(--eighthunit);
}

input{
  border: 1px dashed red;
  width: min(100%, 22rem);
  background: transparent;
  height: 2.5rem;
}

textarea{
  width: min(100%, 35rem);
  background: transparent;
  border: 1px dashed red;
  resize: none;
  flex-grow: 1;
}

.contactclosetext.short{
  display: none;
}

.contactclosetext{
  position: absolute;
  bottom: calc(100% + 1rem);
  right: 1rem;
  text-align: right;
}

.contactclosetext, .contactclosetext *{
  color: red; 
  display: inline-block;
  transition: transform 0.5s ease;
}

.contactclosetext a:hover{
  transform: translateX(-1em);
}


/* -----------PROJECT1----------- */

.longform.project{
  margin-bottom: var(--halfunit);
}

.longform.project h2{
  font-size: 1.3em;
  margin-bottom: var(--eighthunit);
}

.longleft.project .bold{
  text-align: end;
  display: flex;
  justify-content: end;
  flex-wrap: wrap;
}

.longform.content-wrapper{
  margin-bottom: 0;
  max-height: var(--item_maxheight);
  overflow-y: hidden;
}

.content-wrapper.item{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: var(--quarterunit) var(--thirdunit); /* 1st value is vertical, 2nd value is horizontal */
}

.right-content.item{
  columns: 1
}

.mediacontainer{
  margin: var(--halfunit) auto 0 auto;
}

iframe{
  width: var(--elwidth);
  height: calc(var(--elwidth) * (9 / 16));
}

.projectimg{
  width: var(--elwidth);
  height: calc(var(--elwidth) * (9 / 16));
}




/* -----------MEDIA QUERIES----------- */
/* -----------MEDIA QUERIES----------- */
/* -----------MEDIA QUERIES----------- */



@media (max-width: 1560px) or (max-aspect-ratio: 1/3){
  :root{
    --section-item_padding: var(--thirdunit);
  }
  *{
    font-size: 1.05rem;
  }
}


/* ----------------------------------- */

@media (max-width: 1440px) or (max-aspect-ratio: 1/3){
  :root{
    --section-item_padding: var(--quarterunit);
  }
}

@media (max-width: 1300px) or (max-aspect-ratio: 1/3){
  #introtext, .right-content{
    column-gap: var(--quarterunit);
  }
  .longleft, .longright{
    padding: var(--thirdunit);
  }
  .content-wrapper.item{
    grid-template-columns: repeat(1, 1fr);
    max-height: calc(var(--item_maxheight) - var(--halfunit));
  }
}


/* ----------------------------------- */


@media (max-width: 1250px) or (max-aspect-ratio: 1/3){
  :root{
    --sectionitem_height: calc((var(--elwidth) - var(--quarterunit)) / 2);
  }
  #introtext, .right-content{
    column-count: 1;
  }
  .ghost{
    display: none;
  }
  .section:not(#maintools), .grid-container{
    grid-template-columns: repeat(2, 1fr);
  }
  #maintools{
    --sectionitem_height: calc((var(--elwidth) - var(--halfunit)) / 3);
  }
  .section-item:not(#maintools .section-item){
    --section-item_padding: var(--halfunit);
  }
  .section-item .content-wrapper{
    font-size: 1.1rem;
  }
  .section-item.image.odds{
    display: none;
  }
  .section-item.image.evens{
    display: flex;
  }
}

@media (max-width: 1150px) or (max-aspect-ratio: 1/3){
  :root{
    --envelope_width: 30vw;
  }
  form{
    display: grid;
    grid-template-columns: 1fr 1.5fr;
    grid-template-rows: 1fr 1fr 2.5fr 1fr;
    height: auto;
    gap: var(--quarterunit);
  }
  .form-item:nth-child(3), .form-item:nth-child(4){
    grid-column: span 2;
  }
  #envelope-shape{
    grid-column: span 2;
    margin: 0 auto;
  }
  #envelope-shape:hover{
    transform: translateX(4rem);
  }
  input{
    width: min(100%, 35rem);
    height: 2.5rem;
  }
  textarea{
    width: min(100%, 35rem);
  }
}

@media (max-width: 1100px) or (max-aspect-ratio: 1/3){
  *{
    font-size: 1rem;
  }
  .title, .title span{
    line-height: 1.60rem;
  }
}


/* ----------------------------------- */


@media (max-width: 1050px) or (max-aspect-ratio: 1/3){
  :root{
    --navbar_vertical_discrepancy: 0.05rem;
  }
  .links.main{
    display: none;
  }

  #hamtoggle{
    display: none;
  }
  .hamicon{
    width: 25px;
    height: 25px;
    position: fixed;
    top: calc((var(--navheight) - 25px) / 2 - 0.5px);
    right: 4vw;
    cursor: pointer;
    z-index: 5;
  }
  .hamicon .hamline{
    width: 100%;
    height: 3px;
    background-color: red;
    position: absolute;
    left: 0;
    border: none;
    z-index: 5;
    transition: transform 0.5s ease;
  }
  .hamicon .hamline:nth-child(1){
    top: 0px;
  }
  .hamicon .hamline:nth-child(2){
    top: 11px;
  }
  .hamicon .hamline:nth-child(3){
    bottom: 0px;
  }

  #hamtoggle:checked ~ .hamburger{
    display: flex;
    justify-content: space-between;
    position: fixed;
    box-sizing: content-box;
    top: 0;
    height: var(--navheight);
    width: 100%;
    border-bottom: 1px solid red;
    z-index: 4;
    background-color: #FFFFFF;
    color: red;
  }

  .shorttext{
    display: none;
  }
  .longtext{
    display: inline-block;
  }

  .links.hamburger_link{
    justify-content: flex-start;
  }
  .links.hamburger_link .link{
    margin-left: 0;
    margin-right: var(--link_margin);
  }

  #hamtoggle:checked + .hamicon .hamline:nth-child(1){
    transform: rotate(45deg);
    top: 11px;
  }
  #hamtoggle:checked + .hamicon .hamline:nth-child(2){
    opacity: 0;
  }
  #hamtoggle:checked + .hamicon .hamline:nth-child(3){
    transform: rotate(-45deg);
    top: 11px;
  }
  .language.long{
    display: none;
  }
  .language.short{
    display: inline-block;
  }
}


@media (max-width: 1024px) or (max-aspect-ratio: 1/3){
  :root{
    --unit: 10vh;
    --navheight: max(calc(var(--halfunit) * 1.39), 2.5rem);
    --sig_height: calc(var(--halfunit) * 1.5);
  }
  .intro{
    flex-direction: column;
    height: min(var(--intro_height));
  }
  #introtext{
    column-count: 2;
  }
  .introclosetext.long{
    display: none;
  }
  .introclosetext.short{
    display: inline-block;
  }
  .introclosetext *{
    font-size: 1.2rem;
    text-decoration-thickness: 2px !important;
  }
  #signature{
    bottom: 0.1rem;
  }
  .contactclosetext{
    bottom: calc(100% + 0.5rem);
  }
  #imgcontainer{
    width: 100%;
    max-height: 60%;
    overflow-y: hidden;
  }
  #imgcontainer img{
    object-fit: cover;
    object-position: 50% 27%;
  }
}


/* ----------------------------------- */


@media (max-width: 900px) or (max-aspect-ratio: 1/3){
  :root{
    --unit: 8vh;
    --navbar_vertical_discrepancy: 0.06rem;
    --sig_height: calc(var(--halfunit) * 1.75);
  }
  .title, .title span{
    line-height: 1.165rem;
  }

  @keyframes waveShift {
    0% {
      background-position: 0 0;
    }
    100% {
      background-position: 0 100vh;
    }
  }
  body{
    background: repeating-linear-gradient(
      to bottom, var(--bg_gradient_colors));
  }
  body::before{
    background: repeating-linear-gradient(
      to bottom, var(--bg_gradient_colors));
  }

  #introtext, .right-content{
    column-count: 2;
    column-gap: var(--thirdunit);
  }
  .introclosetext{
    right: 0.5rem;
  }
  .longform{
    flex-direction: column;
  }
  .longform:not(.content-wrapper){
    background-color: var(--container_background);
    padding: var(--halfunit);
  }
  .longform.content-wrapper{
    overflow-y: auto;
  }
  .longleft, .longright{
    padding: 0;
    background: none;
  }
  .longleft{
    margin-right: 0;
    width: 100%;
  }
  .longleft ul{
    margin-bottom: 1rem;
  }
  #maintools{
    grid-template-columns: repeat(2, 1fr);
    gap: var(--quarterunit);
    --sectionitem_height: calc((var(--elwidth) - var(--quarterunit)) / 2);
  }

  .content-wrapper.item{
    overflow-y: visible;
    grid-template-columns: repeat(2, 1fr);
  }
}


/* ----------------------------------- */

@media (max-width: 800px) and (min-width: 701px){
  :root{
    --section-item_padding: var(--thirdunit);
  }
}

@media (max-width: 800px) or (max-aspect-ratio: 1/3){
  #signature{
    right: -0.4rem;
    top: calc(100% + 0.5rem);
  }
}

@media (max-width: 700px) or (max-aspect-ratio: 1/3){
  :root{
    --sectionitem_height: var(--elwidth);
  }
  .navtext{
    width: 100%;
  }
  .header h1, .header h2{
    font-size: 2.7em;
  }
  .credits, .credits *{
    font-size: 1.05rem;
  }
  h3{
    font-size: 1.2em;
  }
  #introtext, .right-content{
    column-count: 1;
    column-gap: var(--thirdunit);
  }
  .introclosetext.short{
    top: -1.9rem;
  }
  .introclosetext.short *{
    font-size: 1.1rem;
  }
  .section:not(#maintools){
    grid-template-columns: repeat(1, 1fr);
  }
  .section-item:not(#maintools .section-item){
    height: fit-content;
  }
  .section-item.image.odds{
    display: flex;
  }
  .section-item.image.multiples{
    display: none;
  }
  .grid-container{
    grid-template-columns: repeat(1, 1fr);
    gap: var(--unit);
  }
  .content-wrapper.item{
    grid-template-columns: repeat(1, 1fr);
  }
  form{
    gap: var(--quarterunit);
  }
  .form-item.header{
    margin-bottom: calc(var(--eighthunit) * -1);
  }
}

@media (max-width: 575px) or (max-aspect-ratio: 1/3){
  :root{
    --unit: 6vh;
    --navheight: max(calc(var(--halfunit) * 1.84), 2rem);
    --envelope_width: 40vw;
  }
  .header h1, .header h2{
    font-size: 2em;
  }
  .credits, .credits *{
    font-size: 1rem;
  }
  .navtext{
    justify-content: start;
  }
  .title, .title span{
    line-height: 1.23rem;
  }
  .title.long{
    display: none;
  }
  .title.short{
    display: inline-block;
  }
  #signature{
    bottom: 0rem;
  }
  #maintools{
    gap: var(--eighthunit);
  }
  .contactclosetext.long{
    display: none;
  }
  .contactclosetext.short{
    display: inline-block;
  }
  .contactclosetext.short img{
    display: inline;
    vertical-align: top;
    height: 1.3rem;
    width: 1.3rem;
  }
}

@media (max-width: 530px) or (max-aspect-ratio: 1/3){
  .introclosetext *{
    font-size: 1rem !important;
  }
}

@media (max-width: 450px) or (max-aspect-ratio: 1/3){
  :root{
    --link_margin: 3vw;
  }
  .navtext{
    padding: 0 3vw 0 3vw;
  }
  .hamicon{
    right: 3vw;
  }
  .longtext{
    display: none;
  }
  .shorttext{
    display: inline-block;
  }
  .title, .title span{
    font-size: 1.6rem;
    line-height: 1.25rem;
  }
  .link{
    font-size: 1rem;
  }
  #maintools h3{
    font-size: 1rem;
  }
  #maintools img{
    height: calc(calc(var(--sectionitem_height) - var(--section-item_padding) * 2) - calc(1.5em + var(--eighthunit)));
    width: calc(calc(var(--sectionitem_height) - var(--section-item_padding) * 2) - calc(1.5em + var(--eighthunit)));
  }
}



@media (max-width: 1440px) and (min-width: 1024px){
  form{
    gap: var(--quarterunit);
  }
  .form-item.header{
    margin-bottom: calc(var(--eighthunit) * -1.5);
  }
}

@media (max-width: 900px) and (min-width: 600px){
  .longleft.project .bold{
    justify-content: start;
    margin-left: 1.6rem;
  }
}

@media (pointer: coarse) and (hover: none){
  .introclosetext a, .contactclosetext a, .introclosetext_shorter a{
    animation: shiftleft 5s infinite;
  }
  .introclosetext a:nth-of-type(2), .introclosetext_shorter a:nth-of-type(2){
    animation: shiftright 5s infinite;
  }
  .coverimage img{
    filter: grayscale(0);
  }
  .grid-item img{
    filter: grayscale(0);
  }
  .section-item.image{
    filter: grayscale(0);
  }
  .link:hover{
    font-weight: 400;
  }
  .link:hover, .introclosetext a:hover, 
  .introclosetext a:nth-of-type(2):hover, 
  #envelope-shape:hover, .grid-item img:hover,
  .contactclosetext a:hover{
    transform: none;
  }
  #envelope-shape{
    animation: scale 5s ease-in-out infinite;
  }
  .link:active{
    transform: scale(1.15);
    font-weight: bold;
  }
}

@media (max-width: 900px){
  .introclosetext a, .contactclosetext a, .introclosetext_shorter a{
    animation: shiftleft 5s infinite;
  }
  .introclosetext a:nth-of-type(2), .introclosetext_shorter a:nth-of-type(2){
    animation: shiftright 5s infinite;
  }
  .coverimage img{
    filter: grayscale(0);
  }
  .grid-item img{
    filter: grayscale(0);
  }
  .section-item.image{
    filter: grayscale(0);
  }
  .link:hover{
    font-weight: 400;
  }
  .link:hover, .introclosetext a:hover, 
  .introclosetext a:nth-of-type(2):hover, 
  #envelope-shape:hover, .grid-item img:hover,
  .contactclosetext a:hover{
    transform: none;
  }
  #envelope-shape{
    animation: scale 5s ease-in-out infinite;
  }
  .link:active{
    transform: scale(1.15);
    font-weight: bold;
  }
}

@supports(height: 1svh){
  @media (max-width: 1024px) or (max-aspect-ratio: 1/3){
    :root{
      --unit: 10svh;
    }
  }
  @media (max-width: 900px) or (max-aspect-ratio: 1/3){
    :root{
      --unit: 8svh;
    }
  }
  @media (max-width: 575px) or (max-aspect-ratio: 1/3){
    :root{
      --unit: 6svh;
    }
  }
}


@media (prefers-color-scheme: dark) {
  :root{
    --bg_gradient_colors: 
      rgb(100, 90, 110) 0%,
      rgb(80, 100, 120) 20%,
      rgb(120, 120, 100) 50%,
      rgb(140, 90, 110) 80%,
      rgb(100, 90, 110) 100%;
    --container_background: rgba(0,0,0,0.5);
  }
  *{
    color: #D3D3D3;
  }
  .mainnav, #hamtoggle:checked ~ .hamburger{
    background-color: #1A1A1A;
  }

  button.link{
    background-color: #FFF;
  }

  .mainnav, .title, .title span, .link, .link div,
  #introtext p:first-of-type::first-letter,
  .good-mention::marker{
    color: #FF3366;
  }

  .header, .header h1, .header h2, .credits, .credits *,
  .introclosetext, .introclosetext *,
  .introclosetext_shorter, .introclosetext_shorter *,
  .contactclosetext, .contactclosetext *{
    color: #FFC2CC;
  }

  .header h1{
    animation: glow1 1.5s ease-in-out infinite alternate;
  }

  .name{
    animation: glow2 1.5s ease-in-out infinite alternate;
  }

  #envelope-shape, .hamicon .hamline{
    background-color: #FF3366;
  }

  input, textarea{
    border: 1px dashed #FF3366;
  }

  .mainnav, #hamtoggle:checked ~ .hamburger{
    border-bottom: 2px solid #FF3366;
  }

  .divider-lightmode{
    display: none;
  }
  .divider-darkmode{
    display: inline-block;
  }

  .dark-mode-toggle{
    display: none;
  }
  .light-mode-toggle{
    display: inline-block;
  }
}

/* ---------- DARKMODE ---------- */

.darkmode{
  color: #D3D3D3;
  --bg_gradient_colors: 
    rgb(100, 90, 110) 0%,
    rgb(80, 100, 120) 20%,
    rgb(120, 120, 100) 50%,
    rgb(140, 90, 110) 80%,
    rgb(100, 90, 110) 100%;
  --container_background: rgba(0,0,0,0.5);
}

.darkmode::before{
  --bg_gradient_colors: 
    rgb(100, 90, 110) 0%,
    rgb(80, 100, 120) 20%,
    rgb(120, 120, 100) 50%,
    rgb(140, 90, 110) 80%,
    rgb(100, 90, 110) 100%;
}

.darkmode :where(button){
  background-color: white;
}

.darkmode :is(.mainnav, .hamburger){
  background-color: #1A1A1A;
  color: #FF3366;
  border-bottom: 2px solid #FF3366;
}

.darkmode :where(.hamburger *){
  background-color: #1A1A1A;
}

.darkmode :is(.title, .title span, .link, 
.link div, #introtext p:first-of-type::first-letter,
.good-mention::marker){
    color: #FF3366;
}

.darkmode :where(.header, .header h1, .header h2, 
.credits, .credits *,
.introclosetext, .introclosetext *,
.introclosetext_shorter, .introclosetext_shorter *,
.contactclosetext, .contactclosetext *){
  color: #FFC2CC;
}

.darkmode :is(.header h1){
  animation: glow1 1.5s ease-in-out infinite alternate;
}
.darkmode :is(.name){
  animation: glow2 1.5s ease-in-out infinite alternate;
}

.darkmode :is(#envelope-shape, .hamicon .hamline){
  background-color: #FF3366;
}

.darkmode :is(input){
  color: #D3D3D3;
}

.darkmode :where(input, textarea){
  border: 1px dashed #FF3366;
}

.darkmode :where(.divider-lightmode){
  display: none;
}
.darkmode :where(.divider-darkmode){
  display: inline-block;
}

/* ---------- LIGHTMODE ---------- */

.lightmode{
  color: #D3D3D3;
  --bg_gradient_colors: 
    rgb(225, 216, 230) 0%,
    rgb(210, 230, 240) 20%,
    rgb(240, 240, 220) 50%,
    rgb(255, 220, 230) 80%,
    rgb(225, 216, 230) 100%;
    --container_background: rgba(255,255,255,0.5);
}
.lightmode::before{
  --bg_gradient_colors: 
    rgb(225, 216, 230) 0%,
    rgb(210, 230, 240) 20%,
    rgb(240, 240, 220) 50%,
    rgb(255, 220, 230) 80%,
    rgb(225, 216, 230) 100%;
}

.lightmode *{
  color: black;
}

.lightmode :is(button){
  background-color: #1A1A1A;
}

.lightmode :where(.mainnav, .hamburger){
  background-color: white;
  color: red;
  border-bottom: 2px solid red;
}

.lightmode :where(.hamburger *){
  background-color: white;
}

.lightmode :is(.title, .title span, .link, 
.link div, .good-mention::marker){
    color: red;
}

.lightmode #introtext p:first-of-type::first-letter{
  color: red !important;
}

.lightmode :is(.header, .header h1, .header h2, 
.credits, .credits *,
.introclosetext, .introclosetext *,
.introclosetext_shorter, .introclosetext_shorter *,
.contactclosetext, .contactclosetext *){
  color: red;
}

.lightmode :is(#envelope-shape, .hamicon .hamline){
  background-color: red;
}

.lightmode :where(input, textarea){
  border: 1px dashed red;
}

.lightmode .header h1, .lightmode .name{
  animation: none;
}

.lightmode :where(.divider-lightmode){
  display: inline-block;
}
.lightmode :where(.divider-darkmode){
  display: none;
}